<style media="screen" type="text/css">
@charset "UTF-8";
/* fuentes*/
@font-face{
	font-family:"Normal";//helvetica
	src:url("fuentes/Normal.ttf") ;
}
@font-face{
	font-family:"bold";
	src:url("fuentes/Bd.ttf") ;
}
@font-face{
	font-family:"Italic";
	src:url("fuentes/It.ttf");	
}
/*estilos basicos*/

h1,h2,h3,h4,h5,h6{
	font-family:"Helvetica";
	color:rgba(0,0,0,1);
	text-shadow:0px 2px 5px rgba(0,0,0,0.5);
	clear:both;	
}
p{
	font-family:"Helvetica-Normal";	
	text-shadow:0px 0px 5px rgba(0,0,0,0.3);	
}
a{
	font-family:"Helvetica56-Italic";
	font-weight:bold;
	letter-spacing:1px;
}
a:hover{
	color:rgba(0,0,255,1);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}
.iconolink{
	text-decoration:none;
}
/*menu navegacion*/




/*maquetacion principal*/

body{
	z-index:-2;
	font-family:"Helvetica-Normal";
	//text-align:left;	
	//text-outline:rgba(255,255,255,1);
	margin:0px;
	border:1px solid transparent;	
	//background-image:url(../img/leather.jpg);
	background-attachment:fixed;
	background:rgba(50,50,50,1);
	opacity:1;	
	padding-left:10px;
	padding-right:10px;
}

footer{
	background:#0F0;
	border:5px solid rgba(255,255,255,1);	
	transition:background 2s;
	position:relative;
	height:60px;
	margin-bottom:5px;
}
footer:hover{	
	background:#06F;	
}

#principal{
	position:relative;
	z-index:1;
	margin-bottom:50px ;
	margin-top:20px;	
	width:100%;
	min-height:500px;
	border-radius:25px 25px 0px 0px;
	opacity:1;
}
#divbackground{
	position:absolute;
	z-index:-1;	
	//background-image:url(../img/lineas3.jpg) ;
	background:rgba(255,255,255,1);	
	//background-attachment:fixed;
	//background-size:auto;
	width:100%;
	height:100%;
	border-radius:25px 25px 0px 0px;
	opacity:0.3;
	/*animation: fondoani 200s;-webkit-animation: fondoani 200s;-moz-animation: fondoani 200s;-o-animation: fondoani 200s;
	animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;-o-animation-iteration-count:infinite;
*/
}


textarea:focus{
	box-shadow:0px 0px 10px white;
}
input[required]:focus{
	//border-color:yellow;
	box-shadow: 0px 0px 5px blue;
}
input:invalid{
	border-color:red;
	box-shadow: 0px 0px 10px red;
}

#minimapDiv{
	width:100%;
}

</style>